 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

 *{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    scroll-padding-top: 2rem;
    text-decoration: none;
 }

 :root{
    --main-color:#fa5353;
    --dark-color:#1b182b;
    --light-color:#2e2b3d;
    --text-color:hsl(0,0%,91%);
 }
 ::selection{
    color: var(--text-color);
    background-color: var(--main-color);
 }
 img{
    width: 100%;
 }
 body{
    color: var(--text-color);
    background: var(--dark-color);
 }

 .container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
 }
 /* header */
 header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:  var(--dark-color) ;
    z-index: 100;
 }
 /* nav */
 .nav{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 16px 0;
 }
 /* logo */
 .logo{
    font-size:1.4rem;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0 auto 0 0;
 }
 .logo span{
    color: var(--main-color);
 }
 .nav-icons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
 }
 .nav-icons .bx{
    font-size: 20px;
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background-color: #21232b;
    border-radius: 50%;
    cursor: pointer;

 }
 section{
   padding: 4rem 0 3rem;
 }
#bell-icon{
    position: relative;
}
#bell-icon span{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 10px;
    right: 14px;

}
/* menu icon*/
.menu-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #21232b;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}
.menu-icons div{
    display: block;
    background-color: var(--text-color);
    height: 2px;
    width: 25px;
    transition: 0.3s;
}
.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);

}
.move .line2{
opacity: 0;    
}
.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
    
}

.menu{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 14,0.9);
   z-index: 106;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: 0.5s;
   clip-path: circle(0% at 100% 0%);


}
.menu.active{
   clip-path: circle(144% at 100% 0%);
}
.menu img{
   width: 700px;
}
.navbar{
   display: grid;
   row-gap: 1rem;
   text-align: right;
   padding-right: 2rem;
}
.navbar a{
   font-size: 1.6rem;
   color: var(--text-color);
   font-weight: 500;
   transition: 0.2s;
}
.navbar a:hover{
   border-bottom: 4px solid var(--main-color);
   font-size: 1.8rem;
}

/* notification */
.notification{
   position: absolute;
   top: 110%;
   right: 5rem;
   background: var(--light-color);
   width: 300px;
   height: 350px;
   border-radius: 0.5rem;
   padding: 10px;
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   clip-path: circle(0% at 100% 0%);
}
.notification.active{
   clip-path: circle(144% at 100% 0%);
   transition: 0.3s;
}
.notification-box{
   display: flex;
   align-items: baseline;
   column-gap: 1rem;
   border-radius: 0.5rem;
   background: var(--dark-color);
   padding: 10px;
}
.notification-box .bx{
   color: #faf102;
}
.box-color{
   background: hsl(0, 0%, 100%, 0.4);
}
/* home */
.home{
   position: relative;
   min-height:540px;
   display: flex;
   align-items: center;
   justify-content:flex-end;
   margin-top: 5rem;

}
.home img{
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 1.4rem;
   z-index: -1;
}
.home-text{
   padding-right: 4rem;
   text-align: right;

}
.home-text h1{
   font-size:2.4rem;
   text-transform: uppercase;
   color: var(--dark-color);
   margin-bottom: 1rem;
}
.btn{
   background-color: var(--main-color);
   padding: 15px 20px;
   color: var(--text-color);
   text-transform: uppercase;
   font-size: 1rem;
   letter-spacing:1px;
   font-weight: 500;
   clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%, 0% 68%);
}
.btn:hover{
   background-color: var(--light-color);
   transition:  0.3s all linear;
}
/* trending */
.heading{
   display: flex;
   align-items: center;
   column-gap: 1rem;
   margin-bottom:2rem;

}
.heading .bx{
   font-size: 21px;
   color: var(--text-color);
   background-color: var(--main-color);
   padding: 10px;
   border-radius: 5rem;
}
.heading h2{
   font-size: 1.2rem;
   font-weight: 500;
}
.box{
   position: relative;
   width: 100%;
   height: 350px;
   border-radius: 0.5rem;

}
.box img{
   width: 100%;
   height: 100%;
   object-fit:cover;
   border-radius: 0.5rem;
}
.box .box-text{
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   padding: 10px;
   background-color: hsl(227, 14%, 20%, 0.8);
   backdrop-filter: blur(4px);
   border-radius: 0.5rem;
}
.box .box-text h2{
   font-size: 0.9rem;
   font-weight: 500;
   margin-bottom: 0.8rem;

}
.rating-downlead{
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 4px;
   background-color: hsl(0, 0%, 100%, 0.4);
   padding: 4px 10px;
   border-radius: 0.5rem;
}
.rating .bx{
   color: #faf102;
   font-size: 0.9rem;


}
.rating span{
   color: #faf102;
   font-size: 0.9rem;
   
}
.box-btn .bx{
   padding: 8px;
   background: var(--text-color);
   border-radius: 5rem;
   color: var(--main-color);
   font-weight: 400;
   font-size: 20px;

}
.box-btn .bx:hover{
   background-color: var(--dark-color);
}

/* new section */
.new-content{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(240px,auto));
   gap: 1.2rem;
}
.next-page{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3rem;
/* width: 430%; */

}
.next-page a{
   background-color: var(--main-color);
   padding: 12px 20px;
   color: var(--text-color);
   letter-spacing: 1px;
   font-weight: 500;

}
.next-page a:hover{
   background-color: var(--light-color);
   transition: 0.3s all linear;
}
.copyright{
   display: flex;
   justify-content: space-between;
   padding: 20px;

}
.copyright p{
   font-size: 0.9rem;

}

/* download */
.video-container iframe{
   width: 100%;
   aspect-ratio: 16/9;
}
.about h2{
   display: inline-flex;
   font-size: 1.4rem;
   font-weight: 500;
   border-bottom: 4px solid var(--main-color);
   
}
.about p{
   font-size: 0.938rem;
   margin-top: 1rem;
   text-align: justify;
}
.screenshots h2{
      display: inline-flex;
      font-size: 1.4rem;
      font-weight: 500;
      border-bottom: 4px solid var(--main-color);
      margin: 1.6rem 0;
   }
.screenshots-content{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px,auto));
   gap: 10px;
   justify-content: center;
   max-width: 800px;
   width: 100%;
}
.screenshots-content img{
   width: 100%;
   height: 440px;
   object-fit: cover;


}
.download{
   max-width: 800px;
   margin: auto;
   width: 100%;
   display: grid;
   justify-content: center;
   margin-top: 2rem;
}
.download h2{
   text-align: center;
   font-size: 1.4rem;
   font-weight: 500;
   margin: 1.6rem 0;
}

.download-links{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   margin-bottom: 2rem;
}
.download-links a{
   text-align: center;
   background-color: var(--main-color);
   padding: 12px 20px;
   color: var(--text-color);
   letter-spacing: 1px;
   font-weight: 500;

}
.download-links a:hover{
   background-color: var(--light-color);
   transition: 0.3s all linear;

}
/* scroll */
html::-webkit-scrollbar{
   display: none;

}

/* respnsive */
@media (max-width:1080px){
   .container{
      margin: 0 auto;
      width: 90%;
   }
   .nav{
     
      padding: 10px 0;
   }
   .notification{
      right: 4rem;
   }
   .menu img{
      width: 500px;
   }
   section{
      padding: 3rem 0 2rem;
   }
   .home{
   
      margin-top: 4rem !important;
      min-height: 440px;

   }
   .home img{
      border-radius: 1rem;
   }
   .new-content{
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
      
   }
   .video-container{
      margin-top: 5rem !important;

   }
}
@media (max-width:774px){
   .notification{
      right: 1rem;
   }
   .menu img{
      width: 400px;

   }
   .home{
      min-height: 300px
      }
      .home-text h1{
         font-size:2rem;
      }
      .btn{
         padding: 12px 17px;
      }
      .screenshots-content{
         grid-template-columns: repeat(auto-fit, mimax(250px, 300px));

      }
}
@media (max-width:560px){
   .menu img{
      display: none;

   }
   .menu{
      justify-content: flex-end;
   }
   .nav{
      padding: 8px 0;

   }
   .nav-icons .bx, 
   .menu-icon{
      height: 40px;
      width: 40px;
   }
   .home{
      min-height: 240px;
   }
   .home-text{
      padding-right: 1rem;
      text-align: right;

   }
   p{
      font-size: 0,878rem;
   }
   .download-links{
   grid-template-columns: 1fr;
   }
}
/* for mobile */
@media (max-width:360px){
   .logo{
      font-size: 1.2rem;
   }
   .navbar a {
      font-size: 1.3rem;
   }
   .navbar a:hover{
      font-size: 1.4rem;

   }
   .notification{
      width: 270px;

   }
   .home{
      min-height: 214px;
   }
   .home-text h1{
      font-size: 1.4rem;

   }
   .heading .bx{
      padding: 8px;

   }
   .heading h2{
      font-size: 1.1rem;
   }
   .box{
      height: 420px;
   }
   .copyright{
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
   }
   .copyright .logo{
      margin:0;
   }
   .about a,
   .screenshots a .download a{
      font-size: 1.2rem;
   }

}






.container3{
   width: 83%;
   height: 70vh;
   margin: auto;
   position: relative;
   margin-top: 110px;

}

.container3 .image{
   display: none;

}

.container3 .image img{
   width: 100%;
   height: 80vh;
   object-fit: cover;
   border-radius: 15px;
   overflow: hidden;
   animation: 1s     myslide;

}

@keyframes myslide {
   from{opacity:0;}
   to{opacity: 100;}

}
.container3 .button{
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   z-index: 5;
}

.container3 .button a{
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   vertical-align: middle;
   align-items: center;
   cursor: pointer;
   color: white;
   background: rgba(0, 0, 0, 0.8);
   font-size: 20px;
   user-select: none;
}

.container3 .button .prev{
   border-radius: 0 5px 5px 0;
}

.container3 .button .next{
   border-radius: 5px 0 0 5px;
}

.dots{
   text-align: center;
   position: absolute;
   bottom: 8px;
   left: 45%;
   background: rgba(0, 0, 0, 0.8);
   padding: 5px 10px;
   height: 30px;
   border-radius: 15px;

}

.dot{
   cursor: pointer;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #bbb;
   display: inline-block;
   margin: 0 2px;
}


/* Style the tab buttons */
.nav1{
   width: 80%;
margin-left: 139px;
margin-top: 90px;
}
.tablink {
   color: white;
   outline: none;
   cursor: pointer;
   font-size: 15px;
   width: 20%;
   border: none;
   margin-top: 137px;
   position: relative;
   display: inline;
   margin-left: 0px;
   padding: 3px;
   background: #595b5e00;
   border-radius: 6px;
   height: 45px;
   margin-bottom: 17px;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
#London {background-color:#3d4253;}
#Paris {background-color:#3d4253;}
#Tokyo {background-color:#3d4253;}
#Oslo {background-color:#3d4253;}